<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.yustinus.crud.backend.mappers.MenuMapper">
	
	<select id="selectAllMenus" resultMap="rsAllMenu">
		SELECT m1.`menu_id` AS parentMenuId,
		m1.`name` AS parentName,
		m1.`caption` AS parentCaption,
		m1.`uri` AS parentUri,
		m1.`icon_class` AS parentIcon,
		m1.`level` AS parentLevel,
		m1.`parent` AS parentType,
		m2.`menu_id` AS childMenuId,
		m2.`name` AS childName,
		m2.`caption` AS childCaption,
		m2.`uri` AS childUri,
		m2.`icon_class` AS childIcon,
		m2.`level` AS childLevel,
		m2.`parent` AS parent
		FROM
		vr_menu m1 LEFT JOIN vr_menu m2 ON m2.`parent`= m1.`menu_id`
		WHERE m1.is_disabled = FALSE AND m1.`parent` IN (1,2)
		ORDER BY m1.`order`, m2.`order`
	</select>

	<select id="selectMenu" resultMap="rsMenu">
		SELECT m1.`menu_id` AS parentMenuId,
		m1.`name` AS parentName,
		m1.`caption` AS parentCaption,
		m1.`uri` AS parentUri,
		m1.`icon_class` AS parentIcon,
		m1.`level` AS
		parentLevel
		FROM vr_menu m1
		WHERE m1.is_disabled = FALSE AND m1.`menu_id` = #{menuId}
		ORDER BY m1.`order`
	</select>

	<resultMap type="MenuDto" id="rsAllMenu">
		<id property="parentId" column="parentMenuId" />
		<association property="parentMenu" javaType="MenuBean" resultMap="rsMenu">
			<!-- <id property="menuId" column="parentMenuId" />
			<result property="menuName" column="parentName" />
			<result property="menuCaption" column="parentCaption" />
			<result property="menuUri" column="parentUri" />
			<result property="menuIcon" column="parentIcon" />
			<result property="menuLevel" column="parentLevel" /> -->
		</association>
		<collection property="childMenu" ofType="MenuBean" notNullColumn="childMenuId">
			<id property="menuId" column="childMenuId" />
			<result property="menuName" column="childName" />
			<result property="menuCaption" column="childCaption" />
			<result property="menuUri" column="childUri" />
			<result property="menuIcon" column="childIcon" />
			<result property="menuLevel" column="childLevel" />
			<result property="menuParent" column="parent" />
		</collection>
	</resultMap>

	<resultMap type="MenuBean" id="rsMenu">
		<id property="menuId" column="parentMenuId" />
		<result property="menuName" column="parentName" />
		<result property="menuCaption" column="parentCaption" />
		<result property="menuUri" column="parentUri" />
		<result property="menuIcon" column="parentIcon" />
		<result property="menuLevel" column="parentLevel" />
		<result property="menuParent" column="parentType" />
	</resultMap>
</mapper>